<html>
<!-- Text between angle brackets is an HTML tag and is not displayed.
Most tags, such as the HTML and /HTML tags that surround the contents of
a page, come in pairs; some tags, like HR, for a horizontal rule, stand 
alone. Comments, such as the text you're reading, are not displayed when
the Web page is shown. The information between the HEAD and /HEAD tags is 
not displayed. The information between the BODY and /BODY tags is displayed.-->
<head>
<title>Enter a title, displayed at the top of the window.</title>
</head>
<!-- The information between the BODY and /BODY tags is displayed.-->
<body>
<h1>Online Calculator</h1>
<p>Simplified version of Modern Calculator</p>
<ul>
<li><a href="/add/2/1">Addition</a></li>
<li><a href="/sub/2/1">Substraction</a></li>
</ul>
<hr>
<p>Finally, link to <a href="/index">Home page</a> in your own Web site.</p>
<!-- And add a copyright notice.-->
<p>&#169; Pitta Publishers, 2019</p>
</body>
</html>